
  <head>

    <title>Admin Panel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  </head>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/home-bg.jpg') }} ')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Admin Panel</h1>
              <span class="subheading">Manage your Booking</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<body class="text-center">
  <div class="container">
      <div class="row">
<a href="/logout"><button class="btn btn-primary">Logout</button></a>


 <hr>

          <table class="table table-dark">
          <thead>
            <tr>
              <th>sno</th>
              <th>name</th>
              <th>email</th>
              <th>phone</th>
              <th>paid</th>
              <th>remain</th>
              <th>date</th>
              <th>occassion</th>
              <th>message</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>


            {% for post in posts %}
            <tr>
              <td>{{post.sno}}</td>
              <td>{{post.name}}</td>
              <td>{{post.email}}</td>
              <td>{{post.phone}}</td>
              <td>{{post.paid}}</td>
              <td>{{post.remain}}</td>
              <td>{{post.date}}</td>
              <td>{{post.occassion}}</td>
              <td>{{post.message}}</td>
              <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary">Edit</button></a></td>
              <td><a href="/delete/{{post.sno}}"><button class="btn btn-primary">Delete</button></a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>


          
        </div>
      </div>
    </div>
</body>
    <!-- Main Content -->
    

